.header h1{
    margin-top: 0;
    float:inherit;
    padding: 6vh;
    background: -webkit-linear-gradient(left, rgb(79, 80, 81) , white); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right,rgb(79, 80, 81), white); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, rgb(79, 80, 81), white); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, rgb(79, 80, 81) , white); /* Standard syntax (must be last) */
    color:white;
    font-family: "Tw Cen MT Condensed";
    font-weight: normal;
    font-size: 75px;
}
.nav{
    background-color: rgb(156, 52, 104);
    margin-top:-10vh;
    overflow: hidden;

}
.a{
    display: inline-block;
}
.nav a, .nav span{
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 5px 16px;
    text-decoration: none;
    font-family: "Tw Cen MT Condensed";
    font-size: 30px;
}

.nav span{
    font-style: italic;
    font-size: 23px;
    float:inherit;

}
.nav a:hover {
    background-color: #ddd;
    color: black;
}

.students:hover, .instructors:hover, .courses:hover, .schedules:hover, .rooms:hover, .algo:hover{
    box-shadow: 0 0 5px 5px rgb(156, 192, 252);
    border-radius: 50%;
}


.student, .instructor, .course, .schedule, .room, .gen{
    font-family: "Tw Cen MT Condensed";
    font-size: 30px;
    color: rgb(156, 52, 104);
    position: relative;
}

.icons{
    text-align: center;
    margin-top: 1vw;
    position: relative;
    margin-bottom: 1vw;
}
.instructors, .students, .courses, .algo, .rooms, .schedules {

    max-height: 20vh;
    max-width: 10vw;
    min-height: 20vh;
    min-width: 10vw;
    opacity: 1;

}

.instructors, .courses{
    margin-left: 5vw;
    margin-right: 5vw;
}

.instructor{
    margin-left: 9vw;
    margin-right: 9vw;
}

.course{
    margin-left: 11vw;
    margin-right: 8vw;
}

.gen{
    margin-right: -4vw;
}

.rooms{
    margin-left: -1vw;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:rgb(79, 80, 81);
    color: rgb(79, 80, 81);
    text-align: center;
}





