<!DOCTYPE html>
<html>
<head>
    <title>Adminstrator</title>
    <link rel='stylesheet' href='/style/admin.css' />
</head>
<body>
<div class="header">
    <h1 align="center">TIMETABLE GENERATOR</h1>
</div>
<div class="nav">
    <a href="https://timetableG3n.eu-gb.mybluemix.net/">Log out</a>
</div>
<div class="icons">
    <a href="">
        <img class="students" src="https://image.ibb.co/cUbDgR/113_512.png" height="190" width="190" title="Students"/>
    </a>
    <div class="student">Students</div>
    <a href="">
        <img class="instructors" src="https://image.ibb.co/cyi1J6/coach_icon_12.png" height="210" width="210" title="Instructors" />
    </a>
    <div class="instructor">Instructors</div>
    <a href="https://timetableG3n.eu-gb.mybluemix.net/index">
        <img class="schedules" src="https://image.ibb.co/cNr2am/icon1.png" height="190" width="190" title="Schedules"/>
    </a>
    <div class="schedule">Schedules</div>
    <a href="">
        <img class="rooms" src="https://image.ibb.co/hzT7rR/74_512.png" height="190" width="190" title="Rooms"/>
    </a>
    <div class="room">Rooms</div>
    <a href="">
        <img class="courses" src="https://image.ibb.co/dhtbJ6/all_course_icon.png" height="190" width="190" title="Courses"/>
    </a>
    <div class="course">Courses</div>
</div>
<div class="footer">
    <p>""</p>
</div>

</body>
</html>