<!DOCTYPE html>
<html>
<head>
    <title>Adminstrator</title>
    <link rel='stylesheet' href='/style/admin.css' />
</head>
<body>
<div class="header">
    <h1 align="center">TIMETABLE GENERATOR</h1>
</div>
<div class="nav">
    <a href="https://timetableg3n.eu-gb.mybluemix.net/">Log out</a>
    <span>Welcome, Admin Nour!</span>
</div>
<div class="icons">
    <div class="a">
        <a href="">
            <img class="students" src="https://image.ibb.co/fSPfqw/student.jpg" title="Students"/>
        </a>
        <br>
        <span class="student">Students</span>
    </div>
    <div class="a">
        <a href="">
            <img class="instructors" src="https://image.ibb.co/bZGkqw/coach_icon_12.png" title="Instructors" />
        </a>
        <br>
        <span class="instructor">Instructors</span>
    </div>
    <div class="a">
        <a href="">
            <img class="schedules" src="https://image.ibb.co/cNr2am/icon1.png"  title="Schedules"/>
        </a>
        <br>
        <span class="schedule">Schedules</span>
    </div>
    <br/>
</div>
<div class="icons">
    <div class="a">
        <a href="">
            <img class="rooms" src="https://image.ibb.co/hzT7rR/74_512.png"  title="Rooms"/>
        </a>
        <br>
        <span class="room">Rooms</span>
    </div>
    <div class="a">
        <a href="">
            <img class="courses" src="https://image.ibb.co/hZTn3G/all_course_icon.png"   title="Courses"/>
        </a>
        <br>
        <span class="course">Courses</span>
    </div>
    <div class="a">
        <a href="">
            <img class="algo" src="https://image.ibb.co/ic4wDG/algorithm_512.png" title="Generate Schedules"/>
        </a>
        <br>
        <span class="gen">Generate Schedules</span>
    </div>
</div>
<div class="footer">
    <p>""</p>
</div>
</body>
</html>
