<!DOCTYPE html>
<html>
<head>
<script src="/socket.io/socket.io.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/style/timetable.css" />
<style>
.bott {
	display: inline-block;
	margin= 10vw;
}
.divi {
	display: inline-block;
	width: 5vw;
}
</style>
</head>
<body>

		<div id="searchContainer" style="height:50px">
			<input type="text" id="myInput" onkeyup="searchTable()" placeholder="Search table ..." title="Type in search parameter">
        </div>
		
		<div id="tablediv">
		</div>
		<h3 class="bott">Modify Schedule</h3>
		<div class="divi"></div>
		<h3 class="bott">Day</h3>
		<select class="bott" id="day"></select>
		<div class="divi"></div>
		<h3 class="bott">Course</h3>
		<select class="bott" id="sub"></select>
		<div class="divi"></div>
		<h3 class="bott">Room</h3>
		<select class="bott" id="room"></select>
		<div class="divi"></div>
		<h3 class="bott">First Slot</h3>
		<select class="bott" id="fs"></select>
		<div class="divi"></div>
		<h3 class="bott">Last Slot</h3>
		<select class="bott" id="ls"></select>
		<div class="divi"></div>
		<button id="modify">Modify</button>
		<button id="back">Back</button>
		
</div>		

<script src="/scripts/index.js"></script>

</body>
</html>
