<!DOCTYPE html>
<html >
<head>
	<meta charset="UTF-8">
	<script src="/socket.io/socket.io.js"></script>
	<title>Login Page</title>
	<link rel="stylesheet" href='/style/login.css'>
</head>
<body>
<h1>University Timetable Generator</h1>
<div class="content">
	<div class="title">Login Form</div>
	<input type="text" placeholder="User Name" id="username"/>
	<input type="password" placeholder="Password" id="password"/>
	<button id="submit">Login</button>
</div>
<script type="text/javascript" src="/scripts/Login.js"></script>
</body>
</html>